 .mail-list * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 .mail-list-rows-container {
   margin-inline: 1.5rem;
   padding: 0;
 }

 .mail {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
   border-block-end: solid #eaebec 1px;
   padding: 0.1em;
   border-inline-start: solid #eaebec 1px;
   border-inline-end: solid #eaebec 1px;
   background-color: #ffffff;
   justify-content: flex-start;
 }

 .mail-list-header {
   height: 3rem;
   display: flex;
   align-items: center;
   padding: 0 1rem;
   background-color: #ffffff;
   border-bottom: solid 1px #eaebec;
 }

 .mail-body {
   color: rgb(91, 91, 92);
 }

 .mail:hover {
   scale: 1.01;
   border: solid 0.1em #f2f6fc;
   box-shadow: rgba(100, 121, 143, 0.12) 0px -1px 0px 0px inset
   ;
 }

 .mail button {
   border: none;
   background: none;
   padding: 0;
   margin: 0;
   cursor: pointer;
   height: 1rem;
   font-size: 1.2em;
 }

 .mail button:hover {
   color: gray;
 }


 .date-button-container {
   gap: 0.5em;

 }
 .not-read{
  font-family: Roboto-bold;
 }

 .read{
  background-color:#f2f6fc;
  font-weight: 300;
  font-family: Roboto-Regular;
 }

.star{
  margin: 1em;
 }

 .mail-preview {
  gap: 2rem;
  align-items: center;
}