.mail-details{
margin-inline: 4rem;
}

.mail-details-header {
    background-color: #282828;
    color: #f0eeee;
    padding: 0.5rem;
    line-height: 1.8;
    font-family: Roboto-Regular;
    margin: 0;
    border: 0.1em solid #282828;
}

.content-body{
   padding: 0.2em;
    border: 0.1em solid #282828;
}

.mail-details button{
    border: none;
    background: none;
    padding: 0;
    margin-block-start: 2em;
    cursor: pointer;
}

.back-btn{
    font-size: 1.2rem;
}

.fa-solid{
    font-size: 1.2rem;
    margin-inline-end: 1rem;
}

.sent-at{
    font-size: 0.7rem;
}
